<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="All Pattern's Tests">
            <directory suffix="Test.php">Behavioral/*/Test</directory>
            <directory suffix="Test.php">Creational/*/Test</directory>
            <directory suffix="Test.php">Structural/*/Test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./*/*/Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
